.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.movielist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: end;
}
